@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 242 242 250;
  --tw-color-primary-100: 233 232 246;
  --tw-color-primary-200: 230 228 252;
  --tw-color-primary-300: 220 217 255;
  --tw-color-primary-400: 194 190 250;
  --tw-color-primary-500: 78 70 180;
  --tw-color-primary-600: 52 43 168;
  --tw-color-primary-700: 32 24 138;
  --tw-color-primary-800: 21 14 109;
  --tw-color-primary-900: 12 7 80;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #F2F2FA */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #E9E8F6 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #E6E4FC */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #DCD9FF */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #C2BEFA */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #4E46B4 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #342BA8 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #20188A */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #150E6D */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0C0750 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .body-font,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
