@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 242 242 250;
  --tw-color-primary-100: 233 232 246;
  --tw-color-primary-200: 230 228 252;
  --tw-color-primary-300: 220 217 255;
  --tw-color-primary-400: 194 190 250;
  --tw-color-primary-500: 78 70 180;
  --tw-color-primary-600: 52 43 168;
  --tw-color-primary-700: 32 24 138;
  --tw-color-primary-800: 21 14 109;
  --tw-color-primary-900: 12 7 80;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #F2F2FA */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #E9E8F6 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #E6E4FC */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #DCD9FF */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #C2BEFA */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #4E46B4 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #342BA8 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #20188A */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #150E6D */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0C0750 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* #region  /**=========== Fonts =========== */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-RegularItalic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-Semibold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: italic;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-SemiboldItalic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'AvertaStd';
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/AvertaStd/AvertaStd-BoldItalic.woff2') format('woff2');
  }
  /* #endregion  /**======== Fonts =========== */

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .j1 {
    @apply font-averta text-4xl font-bold;
  }
  .j2 {
    @apply font-averta text-3xl font-bold;
  }
  .h1 {
    @apply font-averta text-2xl font-semibold;
  }
  .h2 {
    @apply font-averta text-xl font-semibold;
  }
  .h3 {
    @apply font-averta text-lg font-semibold;
  }
  .h4 {
    @apply font-averta text-base font-bold;
  }
  .h5 {
    @apply font-averta text-base font-semibold;
  }
  .h6 {
    @apply font-averta text-sm font-semibold;
  }
  .s1 {
    @apply text-lg font-medium;
  }
  .s2 {
    @apply text-base font-medium;
  }
  .s3 {
    @apply text-sm font-medium;
  }
  .s4 {
    @apply text-xs font-medium;
  }
  .b1 {
    @apply text-lg;
  }
  .b2 {
    @apply font-primary text-base;
  }
  .b3 {
    @apply text-sm font-normal;
  }
  .c1 {
    @apply text-xs;
  }
  .c2 {
    @apply text-[11px] leading-[14px];
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

/* #region  /**=========== Datepicker =========== */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  padding: 0 5px;
}

.react-datepicker__header__dropdown {
  margin-top: 0.5rem;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  border-radius: 0.25rem;
}

/* Selected date color */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  @apply !bg-primary-500;
  @apply !text-white;
}
/* #endregion  /**======== Datepicker =========== */

/* #region  /**=========== DropzoneInput Border =========== */
/** @see https://kovart.github.io/dashed-border-generator/ */
.dropzone-border-dash {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23D1D5DBFF' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.5rem;
}
.dropzone-border-dash-error {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23EF4444FF' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.5rem;
}
/* #endregion  /**======== DropzoneInput Border =========== */

/* #region  /**=========== Scrollbar =========== */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  opacity: 0.5;
  border-radius: 10px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #7b7b7b #f7f7f7;
}
/* #endregion  /**======== Scrollbar =========== */
